				<div class="wrap">
					<!-- picture button -->
					<div id="pic-button">
						<%= imagedata %>
					</div>
					<!-- picture button end -->
					<div id="list-tabs">
						
								<ul class="tabs">
								    <li><a href="#tab1">Project</a></li>
								    <li><a href="#tab2">Experiment</a></li>
								    <li><a href="#tab3">Jobs</a></li>
								    <li><a href="#tab4">Images</a></li>
								</ul>
								
								<div class="tab_container" >
								    <div id="tab1" class="tab_content" >
								        <%= projecttable %>
								    </div>
								    <div id="tab2" class="tab_content">
								        <%= exptable %>
								    </div>
								    <div id="tab3" class="tab_content">
								        <%= jobtable %>
								    </div>
								    <div id="tab4" class="tab_content">
								       <%= imageTable %>
								    </div>
								</div>
						
					</div>
				</div>
				