<div class="wrap">					
	<div class="headings"><h1><span>New Experiment</span></h1></div>
					
	<form action="" id="experimentform">
		<input type="hidden" value="<%= uri %>" name="uri" id="uri"/>
		<input type="hidden" value="<%= type %>" name="type" />
		 <p>
            <label for="name">Experiment Name</label>
            <input class="input-small" type="text" value="<%= name %>" name="name" id="name" placeholder="Experiment Hello"/>
        </p>
         <p>
                            <label for="selectbox">Project </label>
                            <select name="project_id" id="selectbox" >
                                    <option value="">Choose a Project</option>
                                    <% if(projects != null){
                                    	for(i=0; i<projects.length; i++) { 
                                    		items=JSON.parse(projects[i]);
                                    		
                                    	%>
                                    	<option value="<%= items.id %> " <% 
                                    	if(selected != undefined || selected !=null)
                                    	{
                                    		
                                    		if(selected.id===items.id)
                                    		{
                                    			%> selected <%
                                    		}
                                    	}
                                    	                                    	
                                    	 %>  ><%= items.name %></option>
                                    <% }
                                    } %>
                                    
                            </select>
        </p>
        <p>
            <label for="description">Experiment Description</label>
            <textarea name="description" id="description" cols="60" rows="15" placeholder="Hello Description"><%= description %></textarea>
        </p>
		 <p>
            <input class="button shadow-dark" name="submit" type="submit" value="Submit"/>
        </p>
	</form>	
</div>
