<a href="<%= homeLink %>" class="current-link"><span>Home</span></a> |  
<a href="<%= documentsLink %>"><span>Documents</span></a> |
<a href="<%= contactLink %>"><span>Contact</span></a> |
<a href="<%= helpLink %>"><span>Help</span></a> |
<a href="<%= signInLink %>"><span>Sign In</span></a>