<div class="wrap">					
	<div class="headings"><h1><span>New Project</span></h1></div>
					
	<form action="" id="projectform">
		<input type="hidden" value="<%= uri %>" name="uri" id="uri"/>
		<input type="hidden" value="<%= type %>" name="type" />
		<input type="hidden" value="<%= sessionvar %>" name="session" />
		 <p>
            <label for="name">Project Name</label>
            <input class="input-small" type="text" value="<%= name %>" name="name" id="name" placeholder="Project Hello"/>
        </p>
        <p>
            <label for="description">Project Description</label>
            <textarea name="description" id="description" cols="60" rows="15" placeholder="Project Hello Description"><%= description %></textarea>
        </p>
		 <p>
            <input class="button shadow-dark" name="submit" type="submit" value="Submit"/>
        </p>
	</form>	
</div>
