<table class="shadow-dark">
	<tr>
	<% for(i=0; i<headings.length; i++) {%>
			<th><%= headings[i] %></th>
	<% } %>
	</tr>
	<% if(objects.length>0)
		{
				
				len=(objects.length>row?row:objects.length);
				
				
				for(i=0; i<len; i++) {%>
					<tr>
						<td><%= objects[i].name %></td>
						<td><%= objects[i].datetime_created %></td>
						<td><a href="<%= objects[i].uri %>" class="edit" title="<%= type %>" >Edit</a></td>
						<td><a href="<%= objects[i].uri %>" class="delete" title="<%= type %>" >Delete</a></td>
					</tr>
			<% }
		}
		else
		{
			%><tr><td>You have No Items Yet in the list</td></tr> <%
		}
	 %>    
</table>