	<div>
		<table>
			<tr><td>Name:</td><td><%= name %></td></tr>
			<tr><td>ID:</td><td>
				<%= id %></td></tr>
			<tr><td>URI:</td><td>
				<%= uri %></td></tr>
			
			<tr><td>Organization:</td><td>
				<%= organization %></td></tr>
			<tr><td>Server URL:</td><td>
				<%= server_url %></td></tr>
				
			
			<tr><td>Creation Date:</td><td>
				<%= datetime_created %></td></tr>
			<tr><td>Modification Date:</td><td><%= arr.datetime_modified %></td></tr>
			<tr><td colspan="2">
				<%= description %></td></tr>
		</table>
	</div>				
					